<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="keywords"
      content="Desarrollo web, paginas web, backend, frontend, desarrollo de software, proyectos tecnologicos"
    />
    <meta
      name="description"
      content="Soy desarrollador de software/web autodidacta, especializado en backend y con buenos conocimientos en fronted."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="INDEX, FOLLOW" />
    <title>Daniel Morales - Desarrollo Web y soluciones a la medida</title>
  </head>
  <body>
    <div>
      <header>
        <nav>
          <ul>
            <li>
              <a href="../index.html">Home</a>
            </li>
            <li>
              <a href="./aboutme.html">Acerca de mi</a>
            </li>
            <li>
              <a href="./services.html">Servicios</a>
            </li>
            <li>
              <a href="./curriculum.html">Curriculum</a>
            </li>
            <li>
              <a href="./portfolio.html">Portafolio</a>
            </li>
            <li>
              <a href="./contact.html">Contacto</a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <div>
      <img
        src="../assets/img/desarrolloweb.svg"
        alt="Desarrollo web - Aplicaciones web a tu medida"
      />
    </div>

    <div>
      <div>
        <h1>Daniel Morales</h1>
        <h2>Desarrollador Web Jr.</h2>
        <h3>Fullstack developer</h3>
        <h3>Tecnologo en sistemas de información</h3>
        <h3>21 Años</h3>
        <h3>4 Años como desarrollador autodidacta</h3>
        <h3>6 Meses de experiencia laboral</h3>
      </div>
    </div>
  </body>
</html>
