/* SERVICES */
.container-services {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-services h1 {
    display: flex;
    justify-content: center;
}

.container-services .wrapper {
    display: flex;
    justify-content: center;
}

.container-services .card {
    width: 25em;
    height: 30em;
    background: #4f7cac;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 10px 10px 5px 0px rgba(4, 6, 36, 0.63);
    transition: 0.2s;
    border-radius: 35px 0px 35px 0px;
    cursor: pointer;
    margin-right: 40px;
    margin: 20px;
}

.card-image {
    display: flex;
    justify-content: center;
}

.card-image img {
    width: 8em;
    flex-shrink: 2;
}

.card h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-shadow: none;
}

.card p {
    font-size: 1.2em;
    padding-top: 10px;
    font-weight: 300;
}

.card-footer {
    display: flex;
    padding-top: 30px;
    justify-content: center;
}

.card-footer a {
    color: #ece5f0;
    text-decoration: none;
    font-size: 1.5em;
    background: #0b233d;
    padding: 8px;
    border-radius: 10px;
    transition: 0.2s;
}

.card-footer a:hover {
    background: #011124;
    box-shadow: 5px 5px #031224;
}