<div class="container-contact animate__animated animate__backInDown">
  <h1 class="titulo-h1">Contacto</h1>
  <div class="contact-info">
    <p>
      <i class="fas fa-envelope"></i>
      <a href="mailto:mralejo99@gmail.com">mralejo99@gmail.com</a>
    </p>
    <p>
      <i class="fas fa-phone"></i>
      <a href="tel:+573146061942">+57 314 6061942</a>
    </p>
    <p>
      <i class="fab fa-instagram"></i>
      <a href="https://www.instagram.com/danielm071">danielm071</a>
    </p>
  </div>
</div>
