<div class="container animate__animated animate__backInDown">
  <div class="img-danielmorales">
    <img
      src="../assets/img/danielmorales.png"
      alt="Desarrollo web - Fullstack developer"
      title="Desarrollador web"
    />
  </div>
  <div class="informacion-danielmorales">
    <h1 class="titulo-h1">Daniel Morales</h1>
    <h2 class="titulo-h2">Desarrollador Web Jr.</h2>
    <h3 class="titulo-h3">Fullstack developer</h3>
    <p>
      Desarrollador web autodidacta, especializado en <b>backend </b>y con
      conocimientos sólidos en <b>frontend.</b> Amante de las nuevas tecnologias
      y todo lo geek. <br />
      Llevo 4 años desarrollando proyectos personales aprendiendo de manera
      autodidacta y 6 meses de experiencia laboral como desarrollador web
      junior.
    </p>
    <div class="redes-danielmorales">
      <a href="https://github.com/Se1juro" target="_BLANK"
        ><img src="../assets/img/github_circle.svg" alt="Github Daniel Morales"
      /></a>
      <a
        href="https://www.linkedin.com/in/daniel-morales-sevillano/"
        target="_blank"
        ><img
          src="../assets/img/linkedin_circle.svg"
          alt="Linkedin Daniel Morales"
      /></a>
    </div>
  </div>
</div>
