<div class="container-portfolio animate__animated animate__backInDown">
  <h1 class="titulo-h1">Portafolio</h1>
  <p>En mi Github puedes encontrar muchos más proyectos. <a href="https://github.com/Se1juro?tab=repositories"
      target="__blank" style="color: white;">Click
      Aquí</a></h2>
  <div class="wrapper">
    <div class="project">
      <div class="project-info">
        <img src="../assets/img/geekyshop.png" alt="Geeky Shop - tienda virtual" />
        <h2 class="titulo-h2">Geekyshop</h2>
        <p>
          Tienda virtual basada en steam, la cual permite gestionar tus
          productos, usuarios y empleados.
        </p>
      </div>
      <div class="project-footer">
        <p>Tecnología: MEAN (Mongo, Express, Angular, NodeJs)</p>
      </div>
      <div class="project-capa">
        <p>
          <a href="https://github.com/Se1juro/GeekyShop-Stack-Mean" target="_BLANK"><i class="fab fa-github"></i></a>
          <a href="https://geekyshop.herokuapp.com/home" target="_BLANK"><i class="fas fa-eye"></i></a>
        </p>
      </div>
    </div>
    <div class="project">
      <div class="project-info">
        <img src="../assets/img/microaliados.png" alt="Geeky Shop - tienda virtual" />
        <h2 class="titulo-h2">Microaliados Gestion de inventarios</h2>
        <p>
          Aplicacion web desarrollada para la gestion de inventarios y
          distribucion de los microaliados regionales.
        </p>
      </div>
      <div class="project-footer">
        <p>Tecnología: MERN (Mongo, Express, React, NodeJs)</p>
      </div>
      <div class="project-capa">
        <p>
          <a href="https://github.com/Se1juro/microaliadosalqueria" target="_BLANK"><i class="fab fa-github"></i></a>
          <a href="https://microaliados.herokuapp.com/" target="_BLANK"><i class="fas fa-eye"></i></a>
        </p>
      </div>
    </div>
    <div class="project">
      <div class="project-info">
        <img src="../assets/img/Chat.png" alt="Chat simulación clase" />
        <h2 class="titulo-h2">Chat simulación clase en vivo</h2>
        <p>
          Chat en vivo totalmente programado con NodeJS y Socket Io que permite la simulación de una clase en vivo. Este
          pequeño proyecto se base en el como aprender y como funcionan los sockets.
        </p>
      </div>
      <div class="project-footer">
        <p>Tecnología: NodeJs, MongoDb, React</p>
      </div>
      <div class="project-capa">
        <p>
          <a href="https://github.com/Se1juro/chat-react-node" target="_BLANK"><i class="fab fa-github"></i></a>
        </p>
      </div>
    </div>
    <div class="project">
      <div class="project-info">
        <img src="../assets/img/GestionApp.png" alt="Gestion App - K Agencia" />
        <h2 class="titulo-h2">Gestion de proyectos y actividades</h2>
        <p>
          Aplicacion web que automatiza la gestion de proyectos, actividades, ajustes y todo los relacionado con el
          trabajo en la empresa
        </p>
      </div>
      <div class="project-footer">
        <p>Tecnología: NodeJs, MongoDb, React</p>
      </div>
      <div class="project-capa">
        <p>
          <a href="https://www.gestion.kagencia.com/" target="_BLANK"><i class="fas fa-eye"></i></a>
        </p>
      </div>
    </div>
    <div class="project">
      <div class="project-info">
        <h2 class="titulo-h2">App web de certificados de reconocimientos</h2>
        <p>
          Aplicación web que permite generar un certificado a partir de un canvas y ciertos iconos seleccionados, con el
          texto que el usuario desee agregar.
        </p>
      </div>
      <div class="project-footer">
        <p>Tecnología: NodeJs, MongoDb, Html, Css y Javascript</p>
      </div>
      <div class="project-capa">
        <p>
          <a href="https://www.reconocimiento.kagencia.com/" target="_BLANK"><i class="fas fa-eye"></i></a>
        </p>
      </div>
    </div>
    <div class="project">
      <div class="project-info">
        <img src="../assets/img/404.png" alt="Error 404 - Html y CSS" />
        <h2 class="titulo-h2">404 Not Found - Página 404</h2>
        <p>
          Página web que muestra una interfaz amigable al momento de recibir un error 404.
        </p>
      </div>
      <div class="project-footer">
        <p>Tecnología: HTML Y CSS</p>
      </div>
      <div class="project-capa">
        <p>
          <a href="https://github.com/Se1juro/404NotFound" target="_BLANK"><i class="fab fa-github"></i></a>
          <a href="https://se1juro.github.io/404NotFound/" target="_BLANK"><i class="fas fa-eye"></i></a>
        </p>
      </div>
    </div>
    <div class="project">
      <div class="project-info">
        <img src="../assets/img/agenda.jpg" alt="Agenda de citas medicas remotas" />
        <h2 class="titulo-h2">Agenda para citas medicas remotas</h2>
        <p>
          Aplicación web que permite agendar una cita para una visita remota, ubicada en el més de agosto.
          La aplicación permite hasta un maximo de 3 visitas por citas.
        </p>
      </div>
      <div class="project-footer">
        <p>Tecnología: MERN (ReactJS, NodeJS, Express, MongoDB)</p>
      </div>
      <div class="project-capa">
        <p>
          <a href="https://github.com/Se1juro/AgendaCitas" target="_BLANK"><i class="fab fa-github"></i></a>
        </p>
      </div>
    </div>
    <div class="project">
      <div class="project-info">
        <h2 class="titulo-h2">Arquitectura typescript para Rest API</h2>
        <p>
          Arquitectura para Rest API, basada en el patron repository e inyeccion de dependencias.<br/>
          Se separa el codigo en capa de servicios, modelos, repositorios y controladores.<br/>
          Se utiliza TypeOrm para las consultas y transacciones a BD, los controladores tienen validator que funcionan como un middleware para validar su informacion
        </p>
      </div>
      <div class="project-footer">
        <p>Tecnología: NodeJs, PostgreSQL, TypeScript, TypeOrm</p>
      </div>
      <div class="project-capa">
        <p>
          <a href="https://github.com/Se1juro/backend-hearmefy" target="_BLANK"><i class="fab fa-github"></i></a>
        </p>
      </div>
    </div>

  </div>
</div>