<div class="container-services animate__animated animate__backInDown">
  <h1 class="titulo-h1">Servicios</h1>
  <div class="wrapper">
    <div class="card">
      <div class="card-info">
        <div class="card-image">
          <img
            src="../assets/img/webapp.svg"
            alt="Desarrollo de aplicaciones web"
          />
        </div>
        <div class="card-title">
          <h2 class="titulo-h2">Desarrollo de aplicaciones web</h2>
        </div>
        <div class="card-body">
          <p>Aplicaciones web a tu medida.</p>
        </div>
      </div>
      <div class="card-footer">
        <a href="mailto:mralejo99@gmail.com">Cotizaciones</a>
      </div>
    </div>
    <div class="card">
      <div class="card-info">
        <div class="card-image">
          <img
            src="../assets/img/website-design.svg"
            alt="Diseño de paginas web"
          />
        </div>
        <div class="card-title">
          <h2 class="titulo-h2">Diseño de paginas web</h2>
        </div>
        <div class="card-body">
          <p>Diseñamos tu pagina web a tu gusto</p>
        </div>
      </div>
      <div class="card-footer">
        <a href="mailto:mralejo99@gmail.com">Cotizaciones</a>
      </div>
    </div>
    <div class="card">
      <div class="card-info">
        <div class="card-image">
          <img src="../assets/img/function.svg" alt="Diseño de paginas web" />
        </div>
        <div class="card-title">
          <h2 class="titulo-h2">Desarrollo de funcionalidades</h2>
        </div>
        <div class="card-body">
          <p>Desarrollamos tu funcionalidad.</p>
        </div>
      </div>
      <div class="card-footer">
        <a href="mailto:mralejo99@gmail.com">Cotizaciones</a>
      </div>
    </div>
  </div>
</div>
