<div class="container-skills animate__animated animate__backInDown">
  <h1 class="titulo-h1">Habilidades</h1>
  <div class="wrapper">
    <div class="skill">
      <div class="info">
        <img src="../assets/img/java.svg" alt="Java - Daniel Morales" />
      </div>
      <h2 class="titulo-h2">Java</h2>
    </div>
    <div class="skill">
      <div class="info">
        <img
          src="../assets/img/javascript.svg"
          alt="Javascript - Daniel Morales"
        />
      </div>
      <div class="text">
        <h2 class="titulo-h2">Javascript</h2>
      </div>
    </div>
    <div class="skill">
      <div class="info">
        <img
          src="../assets/img/angular-icon.svg"
          alt="Angular - Daniel Morales"
        />
      </div>
      <div class="text">
        <h2 class="titulo-h2">Angular</h2>
      </div>
    </div>
    <div class="skill">
      <div class="info">
        <img src="../assets/img/react.svg" alt="React - Daniel Morales" />
      </div>
      <div class="text">
        <h2 class="titulo-h2">React</h2>
      </div>
    </div>
    <div class="skill">
      <div class="info">
        <img src="../assets/img/express.png" alt="Express - Daniel Morales" />
      </div>
      <div class="text">
        <h2 class="titulo-h2">Express</h2>
      </div>
    </div>
    <div class="skill">
      <div class="info">
        <img src="../assets/img/mongodb.png" alt="MongoDB - Daniel Morales" />
      </div>
      <div class="text">
        <h2 class="titulo-h2">MongoDB</h2>
      </div>
    </div>
    <div class="skill">
      <div class="info">
        <img src="../assets/img/mysql.svg" alt="MySQL - Daniel Morales" />
      </div>
      <div class="text">
        <h2 class="titulo-h2">MySQL</h2>
      </div>
    </div>
    <div class="skill">
      <div class="info">
        <img
          src="../assets/img/nodejs-icon.svg"
          alt="NodeJS - Daniel Morales"
        />
      </div>
      <div class="text">
        <h2 class="titulo-h2">NodeJS</h2>
      </div>
    </div>
    <div class="skill">
      <div class="info">
        <img src="../assets/img/oracle.svg" alt="Oracle - Daniel Morales" />
      </div>
      <div class="text">
        <h2 class="titulo-h2">Oracle</h2>
      </div>
    </div>
    <div class="skill">
      <div class="info">
        <img src="../assets/img/php.svg" alt="PHP - Daniel Morales" />
      </div>
      <div class="text">
        <h2 class="titulo-h2">PHP</h2>
      </div>
    </div>
    <div class="skill">
      <div class="info">
        <img
          src="../assets/img/typescript-icon.svg"
          alt="Typescript - Daniel Morales"
        />
      </div>
      <div class="text">
        <h2 class="titulo-h2">Typescript</h2>
      </div>
    </div>
  </div>
</div>
